* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  background-color: green;
}

.dCards {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.pCards {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.card {
}

.cardImg {
  width: 150px;
  height: 200px;
  margin-left: 30px;
}

.playGround {
  display: flex;
  justify-content: center;
}

.hitOrStand {
  margin-top: 15px;
  height: 50px;
  width: 90%;
  background-color: black;
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}

.playGroundBtn {
  margin-top: 15px;
}

button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
}
